<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.equinox.http.registry.servlets">
   
   	
      <servlet
            alias="/router"
            class="org.nasdanika.cdo.web.CDOTransactionRoutingServlet" httpcontextId="org.nasdanika.scrum">
         <init-param
               name="json-pretty-print"
               value="true">
         </init-param>
         <init-param
               name="default-access-decision"
               value="allow">
         </init-param>
         <init-param
               name="ws-session-path"
               value="/session">
         </init-param>
      </servlet>
      <!-- NTLM Authentication 
      <servlet
            alias="/ntlm/router"
            class="org.nasdanika.cdo.web.CDOTransactionRoutingServlet" httpcontextId="org.nasdanika.scrum">
         <init-param
               name="json-pretty-print"
               value="true">
         </init-param>
         <init-param
               name="default-access-decision"
               value="allow">
         </init-param>
         <init-param
               name="ws-session-path"
               value="/ntlm/session">
         </init-param>
      </servlet>
	   	
	      <servlet
	            alias="/session"
	            class="org.nasdanika.cdo.web.SessionWebSocketServlet"
	             httpcontextId="org.nasdanika.scrum">
	         <init-param
	               name="view-path"
	               value="/ntlm/router">
	         </init-param>
	      </servlet>
		   
      -->
   	
      <servlet
            alias="/session"
            class="org.nasdanika.cdo.web.SessionWebSocketServlet" httpcontextId="org.nasdanika.scrum">
         <init-param
               name="view-path"
               value="/router">
         </init-param>
      </servlet>
	   
   </extension>
   
	
   <extension point="org.nasdanika.web.route">
      <root-route
            class="org.nasdanika.scrum.app.NasdanikaScrumRoute"
            method="GET"
            pattern="nasdanika-scrum\.html">
      </root-route>
      
      <root-route
            class="org.nasdanika.scrum.app.NasdanikaScrumDocAppRoute"
            method="GET"
            pattern="doc\.html">
      </root-route>
      
      <root-route
            class="org.nasdanika.web.routes.BundleResourceRoute"
            method="GET"
            path="bundle/">
      </root-route>      
      
      <!--
      <object-route
            class="org.nasdanika.web.routes.ServiceRoute"
            method="*"
            pattern="[^/]+/services/.+"
            target="org.eclipse.emf.cdo.view.CDOView">
         <property
               name="offset"
               value="2">
         </property>
      </object-route>
      -->
   </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="WebContent">
      </resource>
   </extension>
      
   <extension point="org.nasdanika.web.html_factory">
      <default_html_factory
            bootstrapCssContainer="/bootstrap/css">
            <script>
               /js/jquery-1.11.3.min.js
            </script>
            <script>
               /js/underscore-min.js
            </script>
            <script>/js/backbone-min.js</script>
            <script>/bootstrap/js/bootstrap.min.js</script>
            <script>/js/knockout-3.4.0.js</script>
            <script>
               /js/require.js
            </script>            
            <script>
               /js/require-config.js
            </script>
            <stylesheet>
               /font-awesome-4.4.0/css/font-awesome.min.css
            </stylesheet>      
            <script>
               /js/lightbox.min.js
            </script>
            <stylesheet>
               /css/lightbox.css
            </stylesheet>                  
      </default_html_factory>
   </extension>
   <extension point="org.nasdanika.cdo.security.security_policy">
      <policy_resource
            resource="nasdanika-scrum.nasdanika_cdo_security">
      </policy_resource>
   </extension> 
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.nasdanika.scrum">
      </httpcontext>
   </extension>   
   <extension
         point="org.nasdanika.cdo.web.doc.extensions">
      <wiki-link-renderer
            class="org.nasdanika.cdo.web.doc.extensions.LightboxWikiLinkRenderer"
            name="image">
         <description><![CDATA[
            Renders a [lightbox](http://lokeshdhakar.com/projects/lightbox2/) image link. 

Example:

* ``[[image:https://github.com/Nasdanika/server/wiki/webtest.png]]`` is rendered as [[image:https://github.com/Nasdanika/server/wiki/webtest.png]]
         ]]></description>
      </wiki-link-renderer>
      <markdown-pre-processor class="org.nasdanika.cdo.web.doc.extensions.IncludeMarkdownPreProcessor">
         <description>
Includes content of another documentation resource into this resource.
 
Format ``{{include>resource location}}``. Resource location URL supports custom schemes corresponding to the names of registered wiki
link resolvers, e.g. ``bundle`` schema.
         </description>
      </markdown-pre-processor>
      
      <wiki-link-resolver
            class="org.nasdanika.cdo.web.doc.extensions.WikipediaResolver"
            name="wp">
            <description><![CDATA[
            Resolves Wikipedia URL from the article name, renders wikipedia icon before the link. Replaces spaces with underscores in the article name. Format: ``[[wp>article name|text]]``. Example: ``[[wp>Domain-driven design]]`` is rendered as [[wp>Domain-driven design]].
            ]]></description>
      </wiki-link-resolver>
         
       <wiki-link-resolver
            class="org.nasdanika.cdo.web.doc.extensions.JavadocWikiLinkResolver"
            name="javadoc">
            
         <property name="packageMap.org.nasdanika.scrum" value="/nasdanika-scrum/router/bundle/org.nasdanika.scrum.doc/apidocs/"/>
            
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.boxing/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.function/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.h2/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.promise/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.sca/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.sca.edit/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.scheduler/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.security/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.security.edit/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.security.editor/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.web/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo.web.doc/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.cdo/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.core/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.function.cdo/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.function/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.html/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.sca.design/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.sca.edit/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.sca.editor/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.sca/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.story/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.tools.design/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.web/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.webtest.performance/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.webtest/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.webtest.model/apidocs"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.workspace.wizard/apidocs"/>
         <property name="location" value="http://help.eclipse.org/neon/topic/org.eclipse.emf.cdo.doc/javadoc/"/>
         <property name="location" value="http://docs.oracle.com/javase/8/docs/api"/>
         <property name="location" value="http://download.eclipse.org/modeling/emf/emf/javadoc/2.11"/>
         <property name="location" value="http://help.eclipse.org/neon/topic/org.eclipse.emf.cdo.doc/javadoc"/>
         <property name="location" value="http://stleary.github.io/JSON-java"/>
         <property name="location" value="https://osgi.org/javadoc/r4v42/"/>
         <property name="location" value="http://seleniumhq.github.io/selenium/docs/api/java/"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.codegen/apidocs/"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.codegen.edit/apidocs/"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.codegen.editor/apidocs/"/>
         <property name="location" value="http://www.nasdanika.org/server/apidocs/org.nasdanika.provisioning/apidocs/"/>
         
         <description>
            Resolves JavaDoc URL from the class/package name. Usage: ``[[javadoc&gt;fully qualified class name|text]]``. Text is optional. Examples: 

* ``[[javadoc&gt;java.lang.String]]`` is rendered as [[javadoc&gt;java.lang.String]]
* ``[[javadoc&gt;java.lang.String|java.lang.String]]`` is rendered as [[javadoc&gt;java.lang.String|java.lang.String]]
         </description>
      </wiki-link-resolver>
      <markdown-pre-processor class="org.nasdanika.cdo.web.doc.extensions.PlantUmlMarkdownPreProcessor">
         <description>
             Generates UML diagrams from [PlantUML](http://plant) specifications enclosed between ``@startuml`` and ``@enduml`` tags. @startuml and @enduml tags shall be at the beginning of the line and be the only text on the line except whitespaces. @startuml shall be preceded by a blank line and @enduml shall be followed by a blank line. [GraphWiz](http://www.graphviz.org/) is required to render diagrams other than sequence diagrams. See PlantUML site for details.

Example:
```
@startuml
A -> B : Message
@enduml
```
is rendered as 

@startuml
A -> B : Message
@enduml
         </description>
      </markdown-pre-processor>      
   </extension>
</plugin>
